.aboutMeCtnr, .skillsGridsCtnr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.about h3 {
    margin-bottom: 20px;
}

.skillsGridsCtnr {
    margin-top: 50px;
}

.skillsCtnr {
    width: 60%;
}

.learnCtnr {
width: 25%;
}

.mySkills, .toLearn {
    display: grid;
    // grid-template-rows: auto auto ;
    grid-gap: 20px;
}

.mySkills {
    grid-template-columns: auto auto auto;
}

.toLearn {
    grid-template-columns: 170px;
}

.skill {
    background-color: $color011;
    color: $color1;
    padding: 8px 15px;
    font-weight: 500;
    font-size: 1.2rem;
}
