.aboutMeCtnr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.about h3 {
    margin: 30px 0;
}

.aboutMeImg {
    margin-left: 20px;
}

.skillsCtnr {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.skill {
    color: $color011;
    font-size: 3rem;
    margin: 25px 20px;
}

.skillIcon, .skillLabel {
    display: flex;
    justify-content: center;
}

.skillIcon {
    width: 55px;
    height: 55px;
    margin-bottom: 5px;
}

.bem {
    padding: 5px;
}

@media (max-width: 940px) {
  
  .aboutMeCtnr {
    flex-direction: column;
  }

  .aboutMeTxt {
      order: 2;
  }

  .aboutMeImg {
      order: 1;
      width: 50%;
      margin-bottom: 20px;
      margin-left: unset;
  }

}