.contact {
    background-color: $color7;
}

.contactCntr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.contactInfoCntr {
    display: flex;
    flex-direction: column;
}

.contactInfoCntr span {
    margin: 0 0 20px 0;
}

.smCntr a {
    padding: 0 5px;
}

.contact .fa-envelope {
    margin-right: 10px;
}

.contact .fa-map-marker-alt {
    margin-right: 19px;
}

.contactInfoCntr a:hover, .contactInfoCntr a:focus, .smCntr a:hover, .smCntr a:focus {
    color: $color1;
    transition: all 0.2s ease-in-out;
}

.copyright {
    text-align: center;
    margin: 60px 0 0 0;
}

@media (max-width: 600px) {
  
    .contactCntr {
        flex-direction: column;
    }
    
}

@media (max-width: 350px) {
  
    .fa-envelope, .fa-map-marker-alt {
        display: none;
    }
    
}

