header {
  position: fixed;
  padding: 10px 15px;
  border-bottom: 0.25px solid $color8;
  z-index: 50;
  background-color: $color1;
  width: 100%;
  height: 68px;
}

.logo {
  font-size: 1.6rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  background: $color7;
  color: $color1;
  padding: 5px 15px;
  border-radius: 2px;
}

nav ul {
  display: flex;
}

nav ul a {
  color: $color9;
  padding: 12px 15px;
}

.social-top {
  font-size: 2rem;
}

.social-top a {
  padding: 0 5px;
}

header a:hover, header a:focus {
    color: $color7;
}
