.workTogether {
    background-image: linear-gradient(rgba(51,51,51,.5), rgba(51,51,51,.5)), url(images/img_worktogether.jpg);
    background-size: cover;
    margin: 0;
    width: 100%;
    min-height: 320px;
    display: flex;
    align-items: center;
    background-position: bottom;
}

.workTogether h2, .workTogether h3 {
    color: $color1;
}

.workTogether h3 {
    font-size: 1.2rem;
}

.workTogether .sectionTitle {
    display: flex;
}

.workTogether .sectionTitle::after {
    display: none;
}

@media (max-width: 650px) {
  
    .workTogether h3 {
        width: 55%;
    }

    .workTogether h2 {
        width: 70%;
    }
    
}

