.projectCntr {
    display: flex;
    flex: row;
    justify-content: space-between;
    margin: 50px 0 120px 0;
}

.projectCntr:last-of-type {
    margin: 50px 0 60px 0;
}

.projectDescCntr {
    display: flex;
    flex-direction: column;
}

.projectDescCntr h4 {
    margin-left: 5px;
}

.projectImg, .projectDescCntr {
    width: 46%;
}

.projectTagsCntr {
    margin: 10px 0;
    flex-wrap: wrap;
}

.projectTagsCntr, .btnCntr {
    display: flex;
}

.projectTag {
    background-color: $color011;
    color: $color1;
    padding: 8px 10px;
    font-weight: 500;
    margin: 5px;
    font-size: 0.9rem;
}

.projectDescCntr p {
    margin-left: 5px;
}

@media (max-width: 970px) {
  
    .projectCntr {
        flex-direction: column;
    }
    
    .projectImg, .projectDescCntr {
        width: unset;
    }

    .projectDescCntr h4 {
        margin-top: 20px;
    }

}

@media (max-width: 500px) {

    .btnCntr {
        flex-direction: column;
    }

}

