//! import google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');

//! set font variables
$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;

body {
  font-family: $font-body;
  font-size: 16px;
  color: $color4;
}

h1 {
  color: $color1;
  font-family: $font-heading;
  font-size: 4.7rem;
  font-weight: 700;
}

h2, h3, h4 {
  color: $color7;
  font-family: $font-heading;
  font-weight: 700;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  line-height: 1.8;
  color: $color4;
}

.details {
  color: $color5; 
  font-size: 0.9rem;
}

.contact {
  color: $color012;
}

.contact h2 {
  color: $color1;
}

.contactCntr {
  font-size: 1.2rem;
}

.smCntr {
  font-size: 2.5rem;
}