//Colour palette

$white: #fff;
// Body background
$white-soft: #f5f5f5;

// Body text
$grey: #666;

// Language/tool tabs
$grey-light: #777;

$black: #000;
// Headertext & dark backgrounds
$black-soft: #333;