//Colour palette

$color1: #fff;
$color2: #000;

// Body background
$color3: #f5f5f5;

// Body text
$color4: #666;

// Language/tool tabs
$color5: #777;

// Link colour
$color6: #e6e6e6;

// Headertext & dark backgrounds, header active, header logo background
$color7: #333;

// Header border line
$color8: #717070;

// Header font  - inactive
$color9: #929292;

// Button on hover
$color010: #212121;

// Skill boxes background
$color011: #555;