//Colour palette

$color1: #fff;
// Body background
$color3: #f5f5f5;

// Body text
$color4: #666;

// Language/tool tabs
$color5: #777;
$color6: #e6e6e6;

$color2: #000;
// Headertext & dark backgrounds
$color7: #333;